*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffff;
}
.calculatorBody{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-45%,-45%);
    width: 500px;
    height: 500px;
}
table{
    border-collapse: collapse;
    background-color: rgba(59, 57, 49, 0.502);
    box-shadow: rgb(10,10,0,0.1);
border: 1px solid;
}
td{
    text-align: center;
    color: darkgray;
    border: 1px solid #191919;

}
input[type="button"] {
    width: 90px;
    height: 90px;
    color: #fff;
    background-color: rgba(122, 183, 188, 0.784);
    font-size: 3rem;
    border: none;
    cursor: pointer;
    transition: .1s ease-in-out;
    margin: 0;
    padding: 0;
   
}
input[type="button"]:hover{
    background-color: (97, 91, 37, 0.915);
    outline: none;
}
input[type="text"]{
    width: 340px;
    height: 80px;
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-size: 30px;

}
